@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Your home for Creating, Rating, and Updating Local Restaurants.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Restaurant Rater</h2>
        <p>
           On this website you are able to create, return, update, rate, and delete restaurant in your local area.<br>
            A new restaurant just openned up in your area add it here.<br>
            You want to get all the mexican restaurants in your area go a head and search by cuisine.<br />
            Want to leave a bad review for mcdonalds for forgetting your fries, fire away.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rate Restaurants</h2>
        <p>Rate your local thai restaurant. Go to the Thai District..</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Delete a restaurant that has closed permenately</h2>
        <p> A local restuarant in your area has closed please inform us and delete their  entry.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>